body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.product-card {
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.teal-bg {
    background-color: #20C997;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.teal-bg:hover {
    background-color: #1AA179; /* Darker shade on hover */
    color: #ffffff; /* Ensure text remains visible */
}
